
.AnnoucementBox
{
    margin-top: 5vh;
    width: 65%;
     border: 1px transparent ;
     border-radius: 10px;
     background: var(--tableBackground--);
     padding: 1.5%;
    

}

/********************* TABLE *********************/
.AnnoucementBox table
{
    /* border: 1px solid ; */
    margin: 1rem auto;
    padding: 5px;
    font-size: .7rem;
   

}

.AnnoucementBox table  th,
.AnnoucementBox table  td
{
    border-bottom: 1px solid var(--fc--);
    padding: .4rem;
    text-align: center;

}

.AnnoucementId{
    width: 10%;
   
}
.AnnoucementTopic{
    width: 20%;
}
.AnnouncementDescription
{
    width: 50%;
}
.ViewAnnouncementButton
{
    border :1px solid var(--ic--);
    padding: .3rem .6rem;
    border-radius: 10px;
    font-size: .5rem;
    color: var(--ic--);
}
.ShowAll:hover,
.ViewAnnouncementButton:hover
{
    background-color: var( --nav--hover) ;
}
.ShowAll
{
    background: var(--ic--);
    padding: .3rem .6rem;
    border :1px solid var(--ic--); 
    border-radius: 10px;
    font-size: .8rem;
}

@media (max-width: 400px) {
    .AnnoucementBox
    {
        width: 94%;
        margin: auto;
        margin-top: 5vh;
    }
}