:root{
    
    --pc--:var(--bc--);
    --bc--: #fdfdfd;
    --fc--: black;
    --ic--: #18A0FB;
    --genpadding--: 5px 10px;
    --nt--:10vh;
    --nwidth--: 15%;
    --phone-fullview--: 30%;
    --phone--bodyview--: calc(100% - var(--phone-fullview--));
    --nav--hover:rgb(224, 222, 222);
    --cwidth--: calc(100% - var(--nwidth--));
    --icon--hover:#18A0FB;
    --box-shadow--: 0px 0px 2px black;
    --box-burger--: 0px 1px 3px rgba(178, 164, 158, 0.2) ;
    --position-background--:100% 60%;

    --color-txt: var(--light-text);
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-hover: var(--light-hover);
    --color-txt: var(--light-text);
    --tableBackground-- : #F1F1F1;
}
.darkmode{
        --pc--:var(--fc--);
        --bc--: #121212;
        --fc--: white;
        --ic--: #ef670b;
        --nav--hover:rgb(126, 109, 109);
        --icon--hover:#ef670b;
        --box-shadow--: 0px 0px 2px white;
        --box-burger--: 0px 1px 3px rgba(255, 101, 47, 0.2) ;
        --tableBackground-- : gray;
        --bg-body: var(--dark-body);
        --bg-main: var(--dark-main);
        --bg-second: var(--dark-second);
        --color-hover: var(--dark-hover);
        --color-txt: var(--dark-text);
       
}