* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    transition: opacity, color, 0.5s ease-in-out;
    color: var(--fc--);

}

body {
    position: relative;
    background: var(--bc--);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

.container {
    /* overflow: hidden !important; */
    max-width: 100vw;
    
}

a {
    text-decoration: none;
}

svg,
.profile-pic {
    cursor: pointer;
}





/* BODY AREA */

.ContentBody {

    min-height: 78vh;
    max-height: 78vh;
    overflow: auto;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 1.5%;
    /* padding-bottom: 20vh; */
    display: none;
}

.Emptypage {

    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-align: center;


}

.body-part {
    width: 100%;
    display: flex;
    overflow: auto;
   

}


/* contents */
.content {
    width: var(--cwidth--);
    background-color: var(--bc--);
    overflow: auto;
    padding: 2vw;
    max-height: 80vh;

}

.ViewPager {
    display: block;
}

.OpenPage {
    display: flex;
}



#footershow,
#labell1 {
    display: none;
}

@media (max-width: 700px) {
    header {
        grid-template-columns: 3fr 2fr;
    }

    .profile-pic {
        width: 30px;
        height: 30px;
    }

    .bell svg {
        width: 25px !important;
        height: 25px !important;
    }

    .icons {
        padding: .8em;
    }

    .min {
        display: none;
    }

    .ham {
        display: flex !important;
    }

    .ham-burger,
    .ham-burger::after,
    .ham-burger::before {
        display: block;
    }

    .powered {
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
        font-size: .8em;
    }

    .moto {
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: .7em;
        text-align: center;
        /* border: 1px solid; */

    }

    .links {
        display: flex;
        gap: 0.5em;
    }

}
 
@media (max-width:400px) {
    header {
        min-height: 6vh !important;
        position: fixed !important;
        top: 0%;
        grid-template-columns:2fr 3fr !important; 
    }
    .ContentBody {
        position: fixed;
        /* border: 3px solid var(--ic--); */
        border: none !important;
        margin-top: 10vh;
        min-height: 74vh;
        max-height: 74vh;
        width: 96vw;
    }
    .content {
        width: 100vw !important;
        min-height: 86vh !important;
        max-height:90vh !important;
        
    }

    .logo {
        margin-left: 30px;
    }
 
    .profile-pic-modal {
        width: 80vw !important; ;
        height: 80vw !important;
    }

    .pic-upload {
        width: 2.5em;
        height: 2.5em;
        right: 10px;
        bottom: 25px;
    }

    .full-profile-pic {
        width: 18em;
        height: 18em;
    }

    .full-profile {
        margin: auto;
        width: 20em;
        height: 20em;
    }

    .body-part {
        flex-direction: column;
        background: var(--bc--);
        min-height: 100vh;
    }

    .min {
        display: block;
    }

    .navbar {
        position: fixed;
        bottom: 2vh;
        width: 100vw !important;
        max-height: 10vh;
        box-shadow: none !important;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none !important;
    }

    .navbar ul {
        width: 90%;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        box-shadow: var(--box-shadow--) !important;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--bc--) !important;


    }

    .navbar ul li {
        border: none !important;
        background: none;
        line-height: 0px !important;



    }

    .navbar>ul li label {
        flex-direction: column;
        font-size: 8px;
        gap: 2px;
    }

    .navbar>ul .selected,
    .navbar>ul li:focus,
    .navbar>ul li:hover {
        background: none !important;

    }

  

    .ham,
    .ham-burger,
    .ham-burger::after,
    .ham-burger::before {
        display: none;

    }

    .powered {
        flex-direction: column;
    }

    #footershow {
        display: block;
        width: 5px;
        height: 5px;
        opacity: 0;

    }

    #labell1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    #labell1::before {
        content: "";
        margin: auto;
        width: 50px;
        border: 2px solid;
        border-radius: 10px;
        margin-bottom: 20px;
        cursor: pointer;
     
    }

    footer {
        padding-top: 4px !important;
        bottom: -94px !important;
        width: 100vw !important;

    }

   
    .footerdiv {
        bottom: 0px !important;
    }

    #closeModal {
        width: 1.5em;
        height: 1.5em;
    }

    .full-profile>#closeModal {
        top: -7px;
        right: 0%;
    }

    footer>.social-links>.links>span>svg {
        width: 1.5em;
        height: 1.5em;
    }
    .notices,
    .bell svg
    {
        display: none !important;
    }
} 

@media (min-width: 768px) {
    .min {
        display: flex;
    }
}